In [1]:
import pandas as pd

kospi_profitability = pd.read_csv('../data/raw_data/코스피/코스피_수익성.csv', thousands=',')
kospi_growth = pd.read_csv('../data/raw_data/코스피/코스피_성장성.csv', thousands=',')
kospi_stability = pd.read_csv('../data/raw_data/코스피/코스피_안정성.csv', thousands=',')
kospi_activity = pd.read_csv('../data/raw_data/코스피/코스피_활동성.csv', thousands=',')
kospi_cf = pd.read_csv('../data/raw_data/코스피/코스피_현금흐름.csv', thousands=',')
# kospi_beneish = pd.read_csv('./raw_data/코스피/코스피_beniesh_M-score.csv', thousands=',')
# kospi_benford = pd.read_csv('./raw_data/kospi_benford.csv')
# kospi_company = pd.read_csv('./감리지적기업연도/코스피_분식기업.csv')

In [2]:
print(kospi_profitability.shape, 
      kospi_profitability.drop_duplicates('Name').shape)

(13356, 14) (1100, 14)

---
### 이너조인, 데이터 병합시키기

In [3]:
kospi_all = pd.merge(kospi_profitability, kospi_growth, on=['Symbol', 'Name', '결산월', '회계년', '주기'])
kospi_all = pd.merge(kospi_all, kospi_stability, on=['Symbol', 'Name', '결산월', '회계년', '주기'])
kospi_all = pd.merge(kospi_all, kospi_activity, on=['Symbol', 'Name', '결산월', '회계년', '주기'])
kospi_all = pd.merge(kospi_all, kospi_cf, on=['Symbol', 'Name', '결산월', '회계년', '주기'])

In [4]:
kospi_all.columns

Index(['Symbol', 'Name', '결산월', '회계년', '주기', '당기순이익률(%)', '매출총이익률(%)',
       '영업이익률(%)', '자본금영업이익률(%)', '자본금세전계속사업이익률(%)', '*영업수익/영업비용(%)',
       'ROE(세전계속사업이익)(%)', '자본금세전계속사업이익률(%).1', '자본금지배주주순이익률(%)',
       '매출액증가율(전년동기)(%)', '총자본증가율(전년동기)(%)', '유형자산증가율(전년동기)(%)',
       '영업이익증가율(전년동기)(%)', '당기순이익증가율(전년동기)(%)', '유형자산구성비율(%)', '무형자산구성비율(%)',
       '*판관비율(%)', '타인자본비율(%)', '부채비율(%)', '현금및현금성자산구성비율(%)', '영업이익(천원)',
       '이자비용(천원)', '유동자산(천원)', '유동부채(천원)', '당좌자산(천원)', '총자산회전율(회)',
       '총부채회전율(회)', '총자본회전율(회)', '자본금회전율(회)', '매출액(천원)', '매출채권(천원)',
       '매출원가(천원)', '재고자산(천원)', '현금흐름/총부채(%)', '현금흐름/총차입부채(%)', '현금흐름/영업수익(%)',
       '현금흐름/총자본(%)'],
      dtype='object')

In [5]:
df = pd.DataFrame(kospi_all, columns=kospi_all.columns)

In [6]:
df.drop(columns=['당기순이익률(%)', '매출총이익률(%)',
       '영업이익률(%)', '자본금영업이익률(%)', '자본금세전계속사업이익률(%)', '*영업수익/영업비용(%)',
       'ROE(세전계속사업이익)(%)', '자본금세전계속사업이익률(%).1', '자본금지배주주순이익률(%)',
       '매출액증가율(전년동기)(%)', '총자본증가율(전년동기)(%)', '유형자산증가율(전년동기)(%)',
       '영업이익증가율(전년동기)(%)', '당기순이익증가율(전년동기)(%)', '유형자산구성비율(%)', '무형자산구성비율(%)',
       '*판관비율(%)', '타인자본비율(%)', '부채비율(%)', '현금및현금성자산구성비율(%)', '총자산회전율(회)',
       '총부채회전율(회)', '총자본회전율(회)', '자본금회전율(회)','현금흐름/총부채(%)', '현금흐름/총차입부채(%)', '현금흐름/영업수익(%)',
       '현금흐름/총자본(%)'], inplace=True)
df

,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),매출액(천원),매출채권(천원),매출원가(천원),재고자산(천원)
0,A005930,삼성전자,12,2011,Annual,1.564429e+10,0.0,7.150206e+10,4.431901e+10,5.578535e+10,1.650018e+11,2.188213e+10,1.121451e+11,1.571672e+10
1,A005930,삼성전자,12,2012,Annual,2.904934e+10,0.0,8.726902e+10,4.693305e+10,6.952160e+10,2.011036e+11,2.386124e+10,1.266519e+11,1.774741e+10
2,A005930,삼성전자,12,2013,Annual,3.678501e+10,0.0,1.107603e+11,5.131541e+10,9.162540e+10,2.286927e+11,2.498853e+10,1.376963e+11,1.913487e+10
3,A005930,삼성전자,12,2014,Annual,2.502507e+10,0.0,1.151460e+11,5.201391e+10,9.782852e+10,2.062060e+11,2.469461e+10,1.282788e+11,1.731750e+10
4,A005930,삼성전자,12,2015,Annual,2.641344e+10,0.0,1.248147e+11,5.050291e+10,1.060029e+11,2.006535e+11,2.516803e+10,1.234821e+11,1.881179e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
a = pd.read_csv('../data/raw_data/코스피/코스피_자본총계.csv')
b = pd.read_csv('../data/raw_data/코스피/코스피_부채총계.csv')

In [8]:
a.head()

    Symbol  Name  결산월   회계년      주기          총자본(천원)
0  A005930  삼성전자   12  2011  Annual  101,313,630,000
1  A005930  삼성전자   12  2012  Annual  121,480,206,000
2  A005930  삼성전자   12  2013  Annual  150,016,010,000
3  A005930  삼성전자   12  2014  Annual  168,088,188,000
4  A005930  삼성전자   12  2015  Annual  179,059,805,000

In [9]:
b.head()

    Symbol  Name  결산월   회계년      주기         총부채(천원)
0  A005930  삼성전자   12  2011  Annual  54,486,633,000
1  A005930  삼성전자   12  2012  Annual  59,591,364,000
2  A005930  삼성전자   12  2013  Annual  64,059,008,000
3  A005930  삼성전자   12  2014  Annual  62,334,770,000
4  A005930  삼성전자   12  2015  Annual  63,119,716,000

In [10]:
new = pd.merge(a, b, on=['Symbol', 'Name', '결산월', '회계년', '주기'])
new

        Symbol  Name  결산월   회계년      주기          총자본(천원)         총부채(천원)
0      A005930  삼성전자   12  2011  Annual  101,313,630,000  54,486,633,000
1      A005930  삼성전자   12  2012  Annual  121,480,206,000  59,591,364,000
2      A005930  삼성전자   12  2013  Annual  150,016,010,000  64,059,008,000
3      A005930  삼성전자   12  2014  Annual  168,088,188,000  62,334,770,000
4      A005930  삼성전자   12  2015  Annual  179,059,805,000  63,119,716,000
...        ...   ...  ...   ...     ...              ...             ...
13351  A950070  중국고섬   12  2018  Annual              NaN             NaN
13352  A950070  중국고섬   12  2019  Annual              NaN             NaN
13353  A950070  중국고섬   12  2020  Annual              NaN             NaN
13354  A950070  중국고섬   12  2021  Annual              NaN             NaN
13355  A950070  중국고섬   12  2022  Annual              NaN             NaN

[13356 rows x 7 columns]

In [11]:
# new.to_csv('../data/raw_data/코스피/연결_총자본총부채.csv', index=False, encoding='UTF-8-sig')

In [11]:
df = pd.merge(df, new, on=['Symbol', '결산월', '회계년', '주기'])
df.head()

,Symbol,Name_x,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),매출액(천원),매출채권(천원),매출원가(천원),재고자산(천원),Name_y,총자본(천원),총부채(천원)
0,A005930,삼성전자,12,2011,Annual,1.564429e+10,0.0,7.150206e+10,4.431901e+10,5.578535e+10,1.650018e+11,2.188213e+10,1.121451e+11,1.571672e+10,삼성전자,"101,313,630,000","54,486,633,000"
1,A005930,삼성전자,12,2012,Annual,2.904934e+10,0.0,8.726902e+10,4.693305e+10,6.952160e+10,2.011036e+11,2.386124e+10,1.266519e+11,1.774741e+10,삼성전자,"121,480,206,000","59,591,364,000"
2,A005930,삼성전자,12,2013,Annual,3.678501e+10,0.0,1.107603e+11,5.131541e+10,9.162540e+10,2.286927e+11,2.498853e+10,1.376963e+11,1.913487e+10,삼성전자,"150,016,010,000","64,059,008,000"
3,A005930,삼성전자,12,2014,Annual,2.502507e+10,0.0,1.151460e+11,5.201391e+10,9.782852e+10,2.062060e+11,2.469461e+10,1.282788e+11,1.731750e+10,삼성전자,"168,088,188,000","62,334,770,000"
4,A005930,삼성전자,12,2015,Annual,2.641344e+10,0.0,1.248147e+11,5.050291e+10,1.060029e+11,2.006535e+11,2.516803e+10,1.234821e+11,1.881179e+10,삼성전자,"179,059,805,000","63,119,716,000"

In [12]:
df[df['Name_x'] != df['Name_y']]

,Symbol,Name_x,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),매출액(천원),매출채권(천원),매출원가(천원),재고자산(천원),Name_y,총자본(천원),총부채(천원)
1368,A010620,현대미포조선,12,2011,Annual,383798695.0,547997.0,4.133477e+09,3.913737e+09,3.850464e+09,4.623858e+09,150114769.0,3.968587e+09,283013642.0,HD현대미포,"3,408,580,559","4,415,983,098"
1369,A010620,현대미포조선,12,2012,Annual,93994986.0,2657072.0,4.169269e+09,3.672717e+09,3.982664e+09,4.415351e+09,225086025.0,4.056670e+09,186604984.0,HD현대미포,"3,392,744,574","4,330,084,543"
1370,A010620,현대미포조선,12,2013,Annual,-275161268.0,3606720.0,6.532649e+09,5.983815e+09,6.278764e+09,3.985835e+09,285531057.0,3.982495e+09,253885067.0,HD현대미포,"3,241,038,107","6,986,660,092"
1371,A010620,현대미포조선,12,2014,Annual,-867722993.0,0.0,7.450318e+09,6.718704e+09,7.161011e+09,3.967477e+09,93905559.0,4.499880e+09,289306459.0,HD현대미포,"1,926,598,234","8,137,122,082"
1372,A010620,현대미포조선,12,2015,Annual,66573343.0,0.0,6.853971e+09,5.618262e+09,6.598504e+09,4.652432e+09,235567000.0,4.246114e+09,255466974.0,HD현대미포,"1,796,806,577","7,641,204,403"
1373,A010620,현대미포조선,12,2016,Annual,191070357.0,0.0,6.546317e+09,5.471850e+09,6.384436e+09,3.446458e+09,37498000.0,3.098069e+09,161880947.0,HD현대미포,"2,258,389,343","6,967,927,605"
1374,A010620,현대미포조선,12,2017,Annual,107948880.0,0.0,6.776201e+09,5.904637e+09,6.680266e+09,2.453433e+09,194635564.0,2.244890e+09,95934524.0,HD현대미포,"2,339,141,009","5,980,297,708"
1375,A010620,현대미포조선,12,2018,Annual,70896249.0,0.0,1.801360e+09,1.076380e+09,1.641216e+09,2.403016e+09,29377564.0,2.231501e+09,160144060.0,HD현대미포,"2,317,173,725","1,146,560,216"
1376,A010620,현대미포조선,12,2019,Annual,92620495.0,0.0,1.744823e+09,1.001576e+09,1.578510e+09,2.994101e+09,71788969.0,2.803137e+09,166312395.0,HD현대미포,"2,353,961,474","1,026,666,920"
1377,A010620,현대미포조선,12,2020,Annual,36689901.0,0.0,1.879238e+09,1.191005e+09,1.730677e+09,2.792011e+09,120723272.0,2.660580e+09,148561220.0,HD현대미포,"2,367,479,009","1,231,546,541"
1378,A010620,현대미포조선,12,2021,Annual,-217325424.0,0.0,2.046698e+09,1.612004e+09,1.781164e+09,2.887212e+09,20817346.0,3.008238e+09,265534013.0,HD현대미포,"2,204,298,796","1,674,021,487"
1379,A010620,현대미포조선,12,2022,Annual,-109066121.0,0.0,2.724476e+09,2.499087e+09,2.431883e+09,3.716861e+09,43188570.0,3.704006e+09,292593548.0,HD현대미포,"2,175,263,756","2,572,981,743"

In [13]:
df.rename(columns={'Name_x' : 'Name'}, inplace = True)
df.drop(columns = 'Name_y', inplace=True)

In [14]:
benish_feature = pd.read_csv('../data/raw_data/코스피/코스피_beniesh_M-score.csv')
benish_feature.columns

Index(['Symbol', 'Name', '결산월', '회계년', '주기', '매출액(천원)', '매출채권(천원)', '매출원가(천원)',
       '유동자산(천원)', '재고자산(천원)', '유형자산(천원)', '총자산(천원)', '판매비와관리비(천원)',
       '당기순이익(천원)', '유동부채(천원)', '비유동부채(천원)', '영업활동으로인한현금흐름(천원)', '영업이익(천원)',
       '유무형자산상각비(천원)'],
      dtype='object')

In [15]:
df.columns

Index(['Symbol', 'Name', '결산월', '회계년', '주기', '영업이익(천원)', '이자비용(천원)',
       '유동자산(천원)', '유동부채(천원)', '당좌자산(천원)', '매출액(천원)', '매출채권(천원)', '매출원가(천원)',
       '재고자산(천원)', '총자본(천원)', '총부채(천원)'],
      dtype='object')

In [16]:
benish_feature.drop(columns=['영업이익(천원)', '유동자산(천원)', '유동부채(천원)','매출액(천원)',
                             '매출채권(천원)', '매출원가(천원)', '재고자산(천원)'], inplace = True)

In [17]:
df = pd.merge(df, benish_feature, on=['Symbol', 'Name', '결산월', '회계년', '주기'])
df

,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),...,재고자산(천원),총자본(천원),총부채(천원),유형자산(천원),총자산(천원),판매비와관리비(천원),당기순이익(천원),비유동부채(천원),영업활동으로인한현금흐름(천원),유무형자산상각비(천원)
0,A005930,삼성전자,12,2011,Annual,1.564429e+10,0.0,7.150206e+10,4.431901e+10,5.578535e+10,...,1.571672e+10,"101,313,630,000","54,486,633,000","62,043,951,000","155,800,263,000","37,212,360,000","13,759,043,000","10,167,619,000","22,917,901,000","668,620,000"
1,A005930,삼성전자,12,2012,Annual,2.904934e+10,0.0,8.726902e+10,4.693305e+10,6.952160e+10,...,1.774741e+10,"121,480,206,000","59,591,364,000","68,484,743,000","181,071,570,000","45,402,344,000","23,845,285,000","12,658,312,000","37,972,809,000","795,989,000"
2,A005930,삼성전자,12,2013,Annual,3.678501e+10,0.0,1.107603e+11,5.131541e+10,9.162540e+10,...,1.913487e+10,"150,016,010,000","64,059,008,000","75,496,388,000","214,075,018,000","54,211,345,000","30,474,764,000","12,743,599,000","46,707,440,000","957,931,000"
3,A005930,삼성전자,12,2014,Annual,2.502507e+10,0.0,1.151460e+11,5.201391e+10,9.782852e+10,...,1.731750e+10,"168,088,188,000","62,334,770,000","80,872,950,000","230,422,958,000","52,902,116,000","23,394,358,000","10,320,857,000","36,975,389,000","1,070,426,000"
4,A005930,삼성전자,12,2015,Annual,2.641344e+10,0.0,1.248147e+11,5.050291e+10,1.060029e+11,...,1.881179e+10,"179,059,805,000","63,119,716,000","86,477,110,000","242,179,521,000","50,757,922,000","19,060,144,000","12,616,807,000","40,061,761,000","970,591,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
fix_asset = pd.read_csv('../data/raw_data/코스피/코스피_고정자산회전율.csv', encoding='cp949')
fix_asset.head()

    Symbol  Name  결산월   회계년      주기   고정자산회전율       매출액(천원)     비유동자산(천원)
0  A005930  삼성전자   12  2011  Annual  1.957358  1.650000e+11  8.429820e+10
1  A005930  삼성전자   12  2012  Annual  2.143903  2.010000e+11  9.380255e+10
2  A005930  삼성전자   12  2013  Annual  2.213553  2.290000e+11  1.030000e+11
3  A005930  삼성전자   12  2014  Annual  1.788788  2.060000e+11  1.150000e+11
4  A005930  삼성전자   12  2015  Annual  1.709656  2.010000e+11  1.170000e+11

In [19]:
fix_asset.drop(columns=['고정자산회전율', '매출액(천원)'], inplace=True)

In [20]:
df = pd.merge(df, fix_asset, on=['Symbol', '결산월', '회계년', '주기'])
df

,Symbol,Name_x,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),...,총부채(천원),유형자산(천원),총자산(천원),판매비와관리비(천원),당기순이익(천원),비유동부채(천원),영업활동으로인한현금흐름(천원),유무형자산상각비(천원),Name_y,비유동자산(천원)
0,A005930,삼성전자,12,2011,Annual,1.564429e+10,0.0,7.150206e+10,4.431901e+10,5.578535e+10,...,"54,486,633,000","62,043,951,000","155,800,263,000","37,212,360,000","13,759,043,000","10,167,619,000","22,917,901,000","668,620,000",삼성전자,8.429820e+10
1,A005930,삼성전자,12,2012,Annual,2.904934e+10,0.0,8.726902e+10,4.693305e+10,6.952160e+10,...,"59,591,364,000","68,484,743,000","181,071,570,000","45,402,344,000","23,845,285,000","12,658,312,000","37,972,809,000","795,989,000",삼성전자,9.380255e+10
2,A005930,삼성전자,12,2013,Annual,3.678501e+10,0.0,1.107603e+11,5.131541e+10,9.162540e+10,...,"64,059,008,000","75,496,388,000","214,075,018,000","54,211,345,000","30,474,764,000","12,743,599,000","46,707,440,000","957,931,000",삼성전자,1.030000e+11
3,A005930,삼성전자,12,2014,Annual,2.502507e+10,0.0,1.151460e+11,5.201391e+10,9.782852e+10,...,"62,334,770,000","80,872,950,000","230,422,958,000","52,902,116,000","23,394,358,000","10,320,857,000","36,975,389,000","1,070,426,000",삼성전자,1.150000e+11
4,A005930,삼성전자,12,2015,Annual,2.641344e+10,0.0,1.248147e+11,5.050291e+10,1.060029e+11,...,"63,119,716,000","86,477,110,000","242,179,521,000","50,757,922,000","19,060,144,000","12,616,807,000","40,061,761,000","970,591,000",삼성전자,1.170000e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN

In [21]:
df.rename(columns={'Name_x' : 'Name'}, inplace = True)
df.drop(columns = 'Name_y', inplace=True)
df.head()

,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),...,총자본(천원),총부채(천원),유형자산(천원),총자산(천원),판매비와관리비(천원),당기순이익(천원),비유동부채(천원),영업활동으로인한현금흐름(천원),유무형자산상각비(천원),비유동자산(천원)
0,A005930,삼성전자,12,2011,Annual,1.564429e+10,0.0,7.150206e+10,4.431901e+10,5.578535e+10,...,"101,313,630,000","54,486,633,000","62,043,951,000","155,800,263,000","37,212,360,000","13,759,043,000","10,167,619,000","22,917,901,000","668,620,000",8.429820e+10
1,A005930,삼성전자,12,2012,Annual,2.904934e+10,0.0,8.726902e+10,4.693305e+10,6.952160e+10,...,"121,480,206,000","59,591,364,000","68,484,743,000","181,071,570,000","45,402,344,000","23,845,285,000","12,658,312,000","37,972,809,000","795,989,000",9.380255e+10
2,A005930,삼성전자,12,2013,Annual,3.678501e+10,0.0,1.107603e+11,5.131541e+10,9.162540e+10,...,"150,016,010,000","64,059,008,000","75,496,388,000","214,075,018,000","54,211,345,000","30,474,764,000","12,743,599,000","46,707,440,000","957,931,000",1.030000e+11
3,A005930,삼성전자,12,2014,Annual,2.502507e+10,0.0,1.151460e+11,5.201391e+10,9.782852e+10,...,"168,088,188,000","62,334,770,000","80,872,950,000","230,422,958,000","52,902,116,000","23,394,358,000","10,320,857,000","36,975,389,000","1,070,426,000",1.150000e+11
4,A005930,삼성전자,12,2015,Annual,2.641344e+10,0.0,1.248147e+11,5.050291e+10,1.060029e+11,...,"179,059,805,000","63,119,716,000","86,477,110,000","242,179,521,000","50,757,922,000","19,060,144,000","12,616,807,000","40,061,761,000","970,591,000",1.170000e+11

In [22]:
cash_flow = pd.read_csv('../data/raw_data/코스피/연결계정과목.csv', encoding='cp949')
cash_flow = cash_flow[['Symbol', 'Name', '결산월', '회계년', '주기', '세전계속사업이익(천원)', '투자활동으로인한현금흐름(천원)']]
cash_flow

        Symbol  Name  결산월   회계년      주기  세전계속사업이익(천원)  투자활동으로인한현금흐름(천원)
0      A005930  삼성전자   12  2010  Annual  1.932866e+10     -2.398488e+10
1      A005930  삼성전자   12  2011  Annual  1.719192e+10     -2.111256e+10
2      A005930  삼성전자   12  2012  Annual  2.991502e+10     -3.132155e+10
3      A005930  삼성전자   12  2013  Annual  3.836428e+10     -4.474702e+10
4      A005930  삼성전자   12  2014  Annual  2.787503e+10     -3.280641e+10
...        ...   ...  ...   ...     ...           ...               ...
48225  A950070  중국고섬   12  2019  Annual           NaN               NaN
48226  A950070  중국고섬   12  2020  Annual           NaN               NaN
48227  A950070  중국고섬   12  2021  Annual           NaN               NaN
48228  A950070  중국고섬   12  2022  Annual           NaN               NaN
48229  A950070  중국고섬   12  2023  Annual           NaN               NaN

[48230 rows x 7 columns]

In [23]:
df = pd.merge(df, cash_flow, on = ['Symbol', '결산월', '회계년', '주기'])
df

,Symbol,Name_x,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),...,총자산(천원),판매비와관리비(천원),당기순이익(천원),비유동부채(천원),영업활동으로인한현금흐름(천원),유무형자산상각비(천원),비유동자산(천원),Name_y,세전계속사업이익(천원),투자활동으로인한현금흐름(천원)
0,A005930,삼성전자,12,2011,Annual,1.564429e+10,0.0,7.150206e+10,4.431901e+10,5.578535e+10,...,"155,800,263,000","37,212,360,000","13,759,043,000","10,167,619,000","22,917,901,000","668,620,000",8.429820e+10,삼성전자,1.719192e+10,-2.111256e+10
1,A005930,삼성전자,12,2012,Annual,2.904934e+10,0.0,8.726902e+10,4.693305e+10,6.952160e+10,...,"181,071,570,000","45,402,344,000","23,845,285,000","12,658,312,000","37,972,809,000","795,989,000",9.380255e+10,삼성전자,2.991502e+10,-3.132155e+10
2,A005930,삼성전자,12,2013,Annual,3.678501e+10,0.0,1.107603e+11,5.131541e+10,9.162540e+10,...,"214,075,018,000","54,211,345,000","30,474,764,000","12,743,599,000","46,707,440,000","957,931,000",1.030000e+11,삼성전자,3.836428e+10,-4.474702e+10
3,A005930,삼성전자,12,2014,Annual,2.502507e+10,0.0,1.151460e+11,5.201391e+10,9.782852e+10,...,"230,422,958,000","52,902,116,000","23,394,358,000","10,320,857,000","36,975,389,000","1,070,426,000",1.150000e+11,삼성전자,2.787503e+10,-3.280641e+10
4,A005930,삼성전자,12,2015,Annual,2.641344e+10,0.0,1.248147e+11,5.050291e+10,1.060029e+11,...,"242,179,521,000","50,757,922,000","19,060,144,000","12,616,807,000","40,061,761,000","970,591,000",1.170000e+11,삼성전자,2.596100e+10,-2.716779e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN,NaN
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN,NaN
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN,NaN
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN,NaN
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중국고섬,NaN,NaN

In [24]:
df.rename(columns={'Name_x' : 'Name'}, inplace = True)
df.drop(columns = 'Name_y', inplace=True)

In [25]:
# 5번째 이후의 컬럼(인덱스 5부터 끝까지)의 데이터타입을 float으로 변환
df.iloc[:, 5:] = df.iloc[:, 5:].replace(',', '', regex=True).astype(float)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13356 entries, 0 to 13355
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Symbol            13356 non-null  object
 1   Name              13356 non-null  object
 2   결산월               13356 non-null  int64
 3   회계년               13356 non-null  int64
 4   주기                13356 non-null  object
 5   영업이익(천원)          10009 non-null  float64
 6   이자비용(천원)          10009 non-null  float64
 7   유동자산(천원)          9246 non-null   float64
 8   유동부채(천원)          9246 non-null   float64
 9   당좌자산(천원)          9246 non-null   float64
 10  매출액(천원)           10009 non-null  float64
 11  매출채권(천원)          9246 non-null   float64
 12  매출원가(천원)          9721 non-null   float64
 13  재고자산(천원)          9246 non-null   float64
 14  총자본(천원)           10009 non-null  object
 15  총부채(천원)           10009 non-null  object
 16  유형자산(천원)          10009 non-null  object
 17  총자산(천원)           10009 non-null  object
 18  판매비와관리비(천원)       10009 non-null  object
 19  당기순이익(천원)         10009 non-null  object
 20  비유동부채(천원)         9246 non-null   object
 21  영업활동으로인한현금흐름(천원)  10009 non-null  object
 22  유무형자산상각비(천원)      10009 non-null  object
 23  비유동자산(천원)         9246 non-null   float64
 24  세전계속사업이익(천원)      10009 non-null  float64
 25  투자활동으로인한현금흐름(천원)  10009 non-null  float64
dtypes: float64(12), int64(2), object(12)
memory usage: 2.6+ MB

In [27]:
df

,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(천원),유동자산(천원),유동부채(천원),당좌자산(천원),...,유형자산(천원),총자산(천원),판매비와관리비(천원),당기순이익(천원),비유동부채(천원),영업활동으로인한현금흐름(천원),유무형자산상각비(천원),비유동자산(천원),세전계속사업이익(천원),투자활동으로인한현금흐름(천원)
0,A005930,삼성전자,12,2011,Annual,1.564429e+10,0.0,7.150206e+10,4.431901e+10,5.578535e+10,...,62043951000.0,155800263000.0,37212360000.0,13759043000.0,10167619000.0,22917901000.0,668620000.0,8.429820e+10,1.719192e+10,-2.111256e+10
1,A005930,삼성전자,12,2012,Annual,2.904934e+10,0.0,8.726902e+10,4.693305e+10,6.952160e+10,...,68484743000.0,181071570000.0,45402344000.0,23845285000.0,12658312000.0,37972809000.0,795989000.0,9.380255e+10,2.991502e+10,-3.132155e+10
2,A005930,삼성전자,12,2013,Annual,3.678501e+10,0.0,1.107603e+11,5.131541e+10,9.162540e+10,...,75496388000.0,214075018000.0,54211345000.0,30474764000.0,12743599000.0,46707440000.0,957931000.0,1.030000e+11,3.836428e+10,-4.474702e+10
3,A005930,삼성전자,12,2014,Annual,2.502507e+10,0.0,1.151460e+11,5.201391e+10,9.782852e+10,...,80872950000.0,230422958000.0,52902116000.0,23394358000.0,10320857000.0,36975389000.0,1070426000.0,1.150000e+11,2.787503e+10,-3.280641e+10
4,A005930,삼성전자,12,2015,Annual,2.641344e+10,0.0,1.248147e+11,5.050291e+10,1.060029e+11,...,86477110000.0,242179521000.0,50757922000.0,19060144000.0,12616807000.0,40061761000.0,970591000.0,1.170000e+11,2.596100e+10,-2.716779e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# df.to_csv('../data/dataset/코스피_연결재무제표계정값.csv', index = False, encoding = "UTF-8-sig")

In [29]:
kospi_all.drop(columns=['자본금세전계속사업이익률(%).1', '영업이익(천원)',
       '이자비용(천원)', '유동자산(천원)', '유동부채(천원)', '당좌자산(천원)', '매출액(천원)', '매출채권(천원)',
       '매출원가(천원)', '재고자산(천원)'], inplace = True)

In [30]:
kospi_all

,Symbol,Name,결산월,회계년,주기,당기순이익률(%),매출총이익률(%),영업이익률(%),자본금영업이익률(%),자본금세전계속사업이익률(%),...,부채비율(%),현금및현금성자산구성비율(%),총자산회전율(회),총부채회전율(회),총자본회전율(회),자본금회전율(회),현금흐름/총부채(%),현금흐름/총차입부채(%),현금흐름/영업수익(%),현금흐름/총자본(%)
0,A005930,삼성전자,12,2011,Annual,8.34,32.03,9.48,"1,743.07","1,915.50",...,53.78,9.43,1.14,3.32,1.73,183.84,54.26,212.22,16.35,28.30
1,A005930,삼성전자,12,2012,Annual,11.86,37.02,14.44,"3,236.64","3,333.10",...,49.05,10.38,1.19,3.53,1.81,224.07,68.04,262.73,19.30,34.84
2,A005930,삼성전자,12,2013,Annual,13.33,39.79,16.08,"4,098.54","4,274.50",...,42.7,7.61,1.16,3.70,1.68,254.81,74.83,355.14,20.23,34.08
3,A005930,삼성전자,12,2014,Annual,11.35,37.79,12.14,"2,788.27","3,105.80",...,37.08,7.31,0.93,3.26,1.30,229.75,65.09,366.86,19.95,25.86
4,A005930,삼성전자,12,2015,Annual,9.50,38.46,13.16,"2,942.96","2,892.54",...,35.25,9.35,0.85,3.20,1.16,223.57,63.17,328.30,19.75,22.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# kospi_all.to_csv('코스피_재무비율_미완.csv', index = False, encoding = "UTF-8-sig")