코스피 재무비율 + Beneish + Benford

In [1]:
import pandas as pd

kospi = pd.read_csv('../data/dataset/코스피_재무비율.csv')
beneish = pd.read_csv('../data/dataset/코스피_beneish.csv')
benford = pd.read_csv('../data/dataset/코스피_benford.csv')
label = pd.read_csv('../data/dataset/코스피_label.csv')

In [2]:
df = pd.merge(kospi, beneish, on=['Symbol', 'Name', '회계년', '결산월', '주기'])
df = pd.merge(df, benford, on=['Symbol', '회계년', '결산월', '주기'])

In [3]:
# df[df['Name_x'] != df['Name_y']]
df.rename(columns={'Name_x' : 'Name'}, inplace = True)
df.drop(columns = 'Name_y', inplace=True)

In [4]:
df

,Symbol,Name,결산월,회계년,주기,당기순이익률(%),매출총이익률(%),영업이익률(%),자본금영업이익률(%),자본금세전계속사업이익률(%),...,영업현금흐름/투자현금흐름(%),DSRI,GMI,AQI,SGI,DEPI,SGAI,LVGI,TATA,벤포드
0,A005930,삼성전자,12,2011,Annual,8.34,32.03,9.48,"1,743.07","1,915.50",...,-1.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.05,0
1,A005930,삼성전자,12,2012,Annual,11.86,37.02,14.44,"3,236.64","3,333.10",...,-1.21,0.89,0.87,0.98,1.22,0.01,1.00,0.94,-0.05,0
2,A005930,삼성전자,12,2013,Annual,13.33,39.79,16.08,"4,098.54","4,274.50",...,-1.04,0.92,0.93,0.93,1.14,0.01,1.05,0.91,-0.05,1
3,A005930,삼성전자,12,2014,Annual,11.35,37.79,12.14,"2,788.27","3,105.80",...,-1.13,1.10,1.05,1.15,0.90,0.01,1.08,0.90,-0.05,0
4,A005930,삼성전자,12,2015,Annual,9.50,38.46,13.16,"2,942.96","2,892.54",...,-1.47,1.05,0.98,0.85,0.97,0.01,0.99,0.96,-0.06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
df = pd.merge(df, label, on=['Name', '회계년'], how='left')

In [6]:
df['분식기업'].value_counts()

분식기업
1.0    194
Name: count, dtype: int64

In [7]:
label['분식기업'].value_counts()

분식기업
1    205
Name: count, dtype: int64

In [8]:
# left join
merged = pd.merge(kospi, label, on=['Name', '회계년'], how='left')

# 매칭되지 않은 label 확인
unmatched_labels = label[~label.set_index(['Name', '회계년']).index.isin(kospi.set_index(['Name', '회계년']).index)]

print("Missing labels after the join:")
print(unmatched_labels)

Missing labels after the join:
     Name   회계년  분식기업
109  셀트리온  2009     1
110  셀트리온  2010     1
143  현대약품  2013     1
144  현대약품  2014     1
145  현대약품  2015     1
146  현대약품  2016     1
147  현대약품  2017     1
148  현대약품  2018     1
149  현대약품  2019     1
177   SHD  2009     1
178   SHD  2010     1

In [9]:
import numpy as np
df['분식기업'].replace(np.nan, 0, inplace=True)

C:\Users\Master\AppData\Local\Temp\ipykernel_21836\1310347302.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['분식기업'].replace(np.nan, 0, inplace=True)

In [10]:
df

,Symbol,Name,결산월,회계년,주기,당기순이익률(%),매출총이익률(%),영업이익률(%),자본금영업이익률(%),자본금세전계속사업이익률(%),...,DSRI,GMI,AQI,SGI,DEPI,SGAI,LVGI,TATA,벤포드,분식기업
0,A005930,삼성전자,12,2011,Annual,8.34,32.03,9.48,"1,743.07","1,915.50",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.05,0,0.0
1,A005930,삼성전자,12,2012,Annual,11.86,37.02,14.44,"3,236.64","3,333.10",...,0.89,0.87,0.98,1.22,0.01,1.00,0.94,-0.05,0,0.0
2,A005930,삼성전자,12,2013,Annual,13.33,39.79,16.08,"4,098.54","4,274.50",...,0.92,0.93,0.93,1.14,0.01,1.05,0.91,-0.05,1,0.0
3,A005930,삼성전자,12,2014,Annual,11.35,37.79,12.14,"2,788.27","3,105.80",...,1.10,1.05,1.15,0.90,0.01,1.08,0.90,-0.05,0,0.0
4,A005930,삼성전자,12,2015,Annual,9.50,38.46,13.16,"2,942.96","2,892.54",...,1.05,0.98,0.85,0.97,0.01,0.99,0.96,-0.06,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0

In [11]:
# df.to_csv('../data/dataset/코스피_전처리전.csv', index = False, encoding = 'UTF-8-sig')