In [70]:
import pandas as pd

In [123]:
beneish = pd.read_csv('개별재무제표/코스닥_베네시.csv')
cashflow = pd.read_csv('개별재무제표/코스피_현금흐름.csv')
active = pd.read_csv('개별재무제표/코스피_활동성.csv')

In [89]:
active.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13356 entries, 0 to 13355
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     13356 non-null  object
 1   Name       13356 non-null  object
 2   결산월        13356 non-null  int64
 3   회계년        13356 non-null  int64
 4   주기         13356 non-null  object
 5   총자산회전율(회)  9892 non-null   object
 6   매출채권회전율    0 non-null      float64
 7   매출액(천원)    9984 non-null   object
 8   매출채권(천원)   9221 non-null   object
 9   재고자산회전율    0 non-null      float64
 10  매출액(천원).1  9984 non-null   object
 11  재고자산(천원)   9221 non-null   object
 12  총부채회전율(회)  9892 non-null   object
 13  총자본회전율(회)  9892 non-null   object
 14  자본금회전율(회)  9892 non-null   object
 15  총자산(천원)    9984 non-null   object
 16  매출원가(천원)   9696 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 1.7+ MB

In [90]:
active.head(2)

,Symbol,Name,결산월,회계년,주기,총자산회전율(회),매출채권회전율,매출액(천원),매출채권(천원),재고자산회전율,매출액(천원).1,재고자산(천원),총부채회전율(회),총자본회전율(회),자본금회전율(회),총자산(천원),매출원가(천원)
0,A005930,삼성전자,12,2011,Annual,1.07,NaN,"120,815,977,000","15,216,204,000",NaN,"120,815,977,000","5,451,432,000",4.29,1.43,134.61,"117,599,849,000","90,406,166,000"
1,A005930,삼성전자,12,2012,Annual,1.13,NaN,"141,206,377,000","17,296,647,000",NaN,"141,206,377,000","5,326,417,000",5.00,1.45,157.33,"133,264,055,000","99,431,997,000"

In [91]:
# 쉼표를 제거하고 숫자로 변환
active['매출액(천원)'] = active['매출액(천원)'].str.replace(',', '').astype(float)
active['매출채권(천원)'] = active['매출채권(천원)'].str.replace(',', '').astype(float)
active['재고자산(천원)'] = active['재고자산(천원)'].str.replace(',', '').astype(float)

In [92]:
# (당기+전기)평균매출채권
for company in active['Name'].unique():
    company_data = active[active['Name'] == company]
    company_data['평균매출채권'] = (company_data['매출채권(천원)'] + company_data['매출채권(천원)'].shift(1)) / 2 
    active.loc[company_data.index, '평균매출채권'] = company_data['평균매출채권']

# (당기+전기)평균재고자산
for company in active['Name'].unique():
    company_data = active[active['Name'] == company]
    company_data['평균재고자산'] = (company_data['재고자산(천원)'] + company_data['재고자산(천원)'].shift(1)) / 2 
    active.loc[company_data.index, '평균재고자산'] = company_data['평균재고자산']

C:\Users\Master\AppData\Local\Temp\ipykernel_20172\3268392632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['평균매출채권'] = (company_data['매출채권(천원)'] + company_data['매출채권(천원)'].shift(1)) / 2
C:\Users\Master\AppData\Local\Temp\ipykernel_20172\3268392632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['평균매출채권'] = (company_data['매출채권(천원)'] + company_data['매출채권(천원)'].shift(1)) / 2
C:\Users\Master\AppData\Local\Temp\ipykernel_20172\3268392632.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['평균재고자산'] = (company_data['재고자산(천원)'] + company_data['재고자산(천원)'].shift(1)) / 2
C:\Users\Master\AppData\Local\Temp\ipykernel_20172\3268392632.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_data['평균재고자산'] = (company_data['재고자산(천원)'] + company_data['재고자산(천원)'].shift(1)) / 2

In [93]:
active[20:30]

,Symbol,Name,결산월,회계년,주기,총자산회전율(회),매출채권회전율,매출액(천원),매출채권(천원),재고자산회전율,매출액(천원).1,재고자산(천원),총부채회전율(회),총자본회전율(회),자본금회전율(회),총자산(천원),매출원가(천원),평균매출채권,평균재고자산
20,A000660,SK하이닉스,12,2019,Annual,0.43,NaN,2.532076e+10,3.646659e+09,NaN,"25,320,755,000",4.354732e+09,1.84,0.55,6.92,"58,168,926,000","18,381,302,000",5.041726e+09,4.038126e+09
21,A000660,SK하이닉스,12,2020,Annual,0.50,NaN,3.052499e+10,4.185100e+09,NaN,"30,524,987,000",4.980384e+09,2.29,0.64,8.35,"64,071,005,000","20,753,412,000",3.915880e+09,4.667558e+09
22,A000660,SK하이닉스,12,2021,Annual,0.56,NaN,4.155734e+10,7.061546e+09,NaN,"41,557,337,000",5.495436e+09,2.04,0.77,11.36,"84,972,544,000","23,676,722,000",5.623323e+09,5.237910e+09
23,A000660,SK하이닉스,12,2022,Annual,0.43,NaN,3.787870e+10,3.766707e+09,NaN,"37,878,699,000",1.034574e+10,1.31,0.64,10.36,"91,800,233,000","24,072,129,000",5.414126e+09,7.920590e+09
24,A373220,LG에너지솔루션,12,2011,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,A373220,LG에너지솔루션,12,2012,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,A373220,LG에너지솔루션,12,2013,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,A373220,LG에너지솔루션,12,2014,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,A373220,LG에너지솔루션,12,2015,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,A373220,LG에너지솔루션,12,2016,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# 매출채권회전율 값 채우기
active['매출채권회전율'] = active['매출액(천원)'] / active['평균매출채권']

# 재고자산회전율 값 채우기
active['재고자산회전율'] = active['매출액(천원)'] / active['평균재고자산']

In [95]:
active.columns

Index(['Symbol', 'Name', '결산월', '회계년', '주기', '총자산회전율(회)', '매출채권회전율', '매출액(천원)',
       '매출채권(천원)', '재고자산회전율', '매출액(천원).1', '재고자산(천원)', '총부채회전율(회)',
       '총자본회전율(회)', '자본금회전율(회)', '총자산(천원)', '매출원가(천원)', '평균매출채권', '평균재고자산'],
      dtype='object')

In [96]:
active.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13356 entries, 0 to 13355
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     13356 non-null  object
 1   Name       13356 non-null  object
 2   결산월        13356 non-null  int64
 3   회계년        13356 non-null  int64
 4   주기         13356 non-null  object
 5   총자산회전율(회)  9892 non-null   object
 6   매출채권회전율    8382 non-null   float64
 7   매출액(천원)    9984 non-null   float64
 8   매출채권(천원)   9221 non-null   float64
 9   재고자산회전율    8384 non-null   float64
 10  매출액(천원).1  9984 non-null   object
 11  재고자산(천원)   9221 non-null   float64
 12  총부채회전율(회)  9892 non-null   object
 13  총자본회전율(회)  9892 non-null   object
 14  자본금회전율(회)  9892 non-null   object
 15  총자산(천원)    9984 non-null   object
 16  매출원가(천원)   9696 non-null   object
 17  평균매출채권     8396 non-null   float64
 18  평균재고자산     8396 non-null   float64
dtypes: float64(7), int64(2), object(10)
memory usage: 1.9+ MB

In [97]:
active['총자본회전율(회)'].value_counts()

완전잠식     101
0.03      98
0.04      93
0.02      91
0.05      79
        ...
8.22       1
6.15       1
10.70      1
13.32      1
9.82       1
Name: 총자본회전율(회), Length: 910, dtype: int64

In [99]:
active['총자본회전율(회)'].value_counts()

0        101
0.03      98
0.04      93
0.02      91
0.05      79
        ...
8.22       1
6.15       1
10.70      1
13.32      1
9.82       1
Name: 총자본회전율(회), Length: 910, dtype: int64

In [98]:
# '총자본회전율' 컬럼 값 중 완전잠식 데이터를 0으로 대체
active['총자본회전율(회)'] = active['총자본회전율(회)'].mask(active['총자본회전율(회)'] == '완전잠식', 0)

In [100]:
active.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13356 entries, 0 to 13355
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     13356 non-null  object
 1   Name       13356 non-null  object
 2   결산월        13356 non-null  int64
 3   회계년        13356 non-null  int64
 4   주기         13356 non-null  object
 5   총자산회전율(회)  9892 non-null   object
 6   매출채권회전율    8382 non-null   float64
 7   매출액(천원)    9984 non-null   float64
 8   매출채권(천원)   9221 non-null   float64
 9   재고자산회전율    8384 non-null   float64
 10  매출액(천원).1  9984 non-null   object
 11  재고자산(천원)   9221 non-null   float64
 12  총부채회전율(회)  9892 non-null   object
 13  총자본회전율(회)  9892 non-null   object
 14  자본금회전율(회)  9892 non-null   object
 15  총자산(천원)    9984 non-null   object
 16  매출원가(천원)   9696 non-null   object
 17  평균매출채권     8396 non-null   float64
 18  평균재고자산     8396 non-null   float64
dtypes: float64(7), int64(2), object(10)
memory usage: 1.9+ MB

In [101]:
active.drop(columns = ['결산월', '주기', '매출액(천원)', '매출채권(천원)', '재고자산(천원)',  '매출액(천원).1', '총자산(천원)', '매출원가(천원)', '평균매출채권', '평균재고자산'], inplace = True)

In [104]:
active

,Symbol,Name,회계년,총자산회전율(회),매출채권회전율,재고자산회전율,총부채회전율(회),총자본회전율(회),자본금회전율(회)
0,A005930,삼성전자,2011,1.07,NaN,NaN,4.29,1.43,134.61
1,A005930,삼성전자,2012,1.13,8.686189,26.203072,5.00,1.45,157.33
2,A005930,삼성전자,2013,1.10,9.038052,28.263368,5.29,1.39,176.46
3,A005930,삼성전자,2014,0.86,7.513024,24.107393,4.32,1.08,153.56
4,A005930,삼성전자,2015,0.81,6.899581,22.289094,4.23,1.00,150.64
...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,2018,NaN,NaN,NaN,NaN,NaN,NaN
13352,A950070,중국고섬,2019,NaN,NaN,NaN,NaN,NaN,NaN
13353,A950070,중국고섬,2020,NaN,NaN,NaN,NaN,NaN,NaN
13354,A950070,중국고섬,2021,NaN,NaN,NaN,NaN,NaN,NaN
13355,A950070,중국고섬,2022,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
active.to_csv('코스피_활동성.csv', index = False, encoding='utf-8-sig')

In [124]:
cashflow[20:30]

,Symbol,Name,결산월,회계년,주기,현금흐름/총부채(%),현금흐름/총차입부채(%),현금흐름/영업수익(%),현금흐름/총자본(%),영업활동으로인한현금흐름(천원),투자활동으로인한현금흐름(천원),재무활동으로인한현금흐름(천원),영업수익(천원)
20,A000660,SK하이닉스,12,2019,Annual,62.88,142.38,34.09,18.83,"4,857,081,000","-5,552,601,000","634,358,000","25,320,755,000"
21,A000660,SK하이닉스,12,2020,Annual,89.71,151.77,39.13,24.98,"10,890,209,000","-10,212,923,000","-98,754,000","30,524,987,000"
22,A000660,SK하이닉스,12,2021,Annual,86.47,154.05,42.38,32.52,"17,746,280,000","-23,624,691,000","5,259,365,000","41,557,337,000"
23,A000660,SK하이닉스,12,2022,Annual,40.48,69.39,30.93,19.71,"12,556,088,000","-14,384,779,000","1,907,940,000","37,878,699,000"
24,A373220,LG에너지솔루션,12,2011,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,A373220,LG에너지솔루션,12,2012,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,A373220,LG에너지솔루션,12,2013,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,A373220,LG에너지솔루션,12,2014,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,A373220,LG에너지솔루션,12,2015,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,A373220,LG에너지솔루션,12,2016,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
cashflow

,Symbol,Name,결산월,회계년,주기,현금흐름/총부채(%),현금흐름/총차입부채(%),현금흐름/영업수익(%),현금흐름/총자본(%),영업활동으로인한현금흐름(천원),투자활동으로인한현금흐름(천원),재무활동으로인한현금흐름(천원),영업수익(천원)
0,A005930,삼성전자,12,2011,Annual,68.69,437.14,16.02,22.98,"17,266,913,000","-15,561,437,000","-813,107,000","120,815,977,000"
1,A005930,삼성전자,12,2012,Annual,94.09,712.90,18.83,27.36,"23,065,604,000","-21,206,370,000","-2,308,543,000","141,206,377,000"
2,A005930,삼성전자,12,2013,Annual,91.50,913.26,17.28,23.98,"28,443,058,000","-27,325,848,000","-1,356,325,000","158,372,089,000"
3,A005930,삼성전자,12,2014,Annual,77.39,840.25,17.92,19.37,"18,653,817,000","-15,951,220,000","-3,089,586,000","137,825,547,000"
4,A005930,삼성전자,12,2015,Annual,72.99,457.76,17.25,17.34,"19,287,521,000","-14,003,962,000","-3,854,887,000","135,205,045,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,A950070,중국고섬,12,2018,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13352,A950070,중국고섬,12,2019,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13353,A950070,중국고섬,12,2020,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13354,A950070,중국고섬,12,2021,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13355,A950070,중국고섬,12,2022,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
cashflow['현금흐름/총자본(%)'].value_counts()

0            101
N/A(IFRS)     47
11.26         15
6.42          12
4.53          11
            ...
-15.97         1
-1.73          1
30.77          1
20.70          1
64.70          1
Name: 현금흐름/총자본(%), Length: 4285, dtype: int64

In [131]:
# '현금흐름/총자본(%)' 컬럼 값 중 완전잠식 데이터를 0으로 대체
cashflow['현금흐름/총자본(%)'] = cashflow['현금흐름/총자본(%)'].mask(cashflow['현금흐름/총자본(%)'] == '완전잠식', 0)

In [133]:
cashflow.drop(columns = ['결산월','주기', '영업활동으로인한현금흐름(천원)', '투자활동으로인한현금흐름(천원)', '재무활동으로인한현금흐름(천원)', '영업수익(천원)'], inplace =True)

In [135]:
cashflow.to_csv('코스피_현금흐름.csv', index = False, encoding='utf-8-sig')

#### 맨 처음 1차 전처리 금융업, 상장이전년도 제외

In [ ]:
# Load the KOSPI financial companies list
kospi_financial_companies = pd.read_csv('MFT2000.csv')

# Load other CSV files
kospi_beniesh_m_score = pd.read_csv('코스피_beniesh_M-score.csv', encoding= 'cp949')
kospi_growth = pd.read_csv('코스피_성장성.csv', encoding= 'cp949')
kospi_profitability = pd.read_csv('코스피_수익성.csv', encoding= 'cp949')
kospi_stability = pd.read_csv('코스피_안정성.csv', encoding= 'cp949')
kospi_cash_flow = pd.read_csv('코스피_현금흐름.csv', encoding= 'cp949')
kospi_activity = pd.read_csv('코스피_활동성.csv', encoding= 'cp949')

# Display the first few rows and columns names to understand their structure
output = {
    "Financial Companies": kospi_financial_companies.head(),
    "Beniesh M-score Columns": kospi_beniesh_m_score.columns,
    "Growth Columns": kospi_growth.columns,
    "Profitability Columns": kospi_profitability.columns,
    "Stability Columns": kospi_stability.columns,
    "Cash Flow Columns": kospi_cash_flow.columns,
    "Activity Columns": kospi_activity.columns
}

output

In [ ]:
kospi_financial_companies

In [ ]:
len(kospi_cash_flow['Name'].unique())

In [ ]:
# Extracting the list of financial company symbols from the kospi financial list
financial_symbols = kospi_financial_companies.iloc[:, 0].values

# Function to filter and save CSVs
def filter_and_save(df, financial_symbols, filename):
    filtered_df = df[~df['Symbol'].isin(financial_symbols)]
    filtered_df = df[~df['Name'].str.contains('은행|증권|투자|스팩|보험|화재|금융|카드|지주|신탁')]
    filtered_df.to_csv(f'코스피_{filename}', index=False, encoding = 'utf-8-sig')

# Applying filter to each dataset and saving new CSVs
filter_and_save(kospi_beniesh_m_score, financial_symbols, '1beniesh_M-score.csv')
filter_and_save(kospi_growth, financial_symbols, '1성장성.csv')
filter_and_save(kospi_profitability, financial_symbols, '1수익성.csv')
filter_and_save(kospi_stability, financial_symbols, '1안정성.csv')
filter_and_save(kospi_cash_flow, financial_symbols, '1현금흐름.csv')
filter_and_save(kospi_activity, financial_symbols, '1활동성.csv')

# Confirming files saved
saved_files = [
    '코스피_beniesh_M-score.csv',
    '코스피_성장성.csv',
    '코스피_수익성.csv',
    '코스피_안정성.csv',
    '코스피_현금흐름.csv',
    '코스피_활동성.csv'
]
saved_files

In [ ]:
aa = pd.read_csv('코스피_1현금흐름.csv')
aa.info()

In [ ]:
len(aa['Name'].unique())

In [ ]:
# Load the KOSPI financial companies list
kosdaq_financial_companies = pd.read_csv('MFT2000.csv')

# Load other CSV files
kosdaq_beniesh_m_score = pd.read_csv('코스닥_beniesh_M-score.csv', encoding= 'cp949')
kosdaq_growth = pd.read_csv('코스닥_성장성.csv', encoding= 'cp949')
kosdaq_profitability = pd.read_csv('코스닥_수익성.csv', encoding= 'cp949')
kosdaq_stability = pd.read_csv('코스닥_안정성.csv', encoding= 'cp949')
kosdaq_cash_flow = pd.read_csv('코스닥_현금흐름.csv', encoding= 'cp949')
kosdaq_activity = pd.read_csv('코스닥_활동성.csv', encoding= 'cp949')

# Display the first few rows and columns names to understand their structure
output = {
    "Financial Companies": kosdaq_financial_companies.head(),
    "Beniesh M-score Columns": kosdaq_beniesh_m_score.columns,
    "Growth Columns": kosdaq_growth.columns,
    "Profitability Columns": kosdaq_profitability.columns,
    "Stability Columns": kosdaq_stability.columns,
    "Cash Flow Columns": kosdaq_cash_flow.columns,
    "Activity Columns": kosdaq_activity.columns
}

output

In [ ]:
kosdaq_cash_flow.info()

In [ ]:
len(kosdaq_cash_flow['Name'].unique())

In [ ]:
# Extracting the list of financial company symbols from the kospi financial list
financial_symbols = kosdaq_financial_companies.iloc[:, 0].values

# Function to filter and save CSVs
def filter_and_save(df, financial_symbols, filename):
    filtered_df = df[~df['Symbol'].isin(financial_symbols)]
    filtered_df = df[~df['Name'].str.contains('은행|증권|투자|스팩|보험|화재|금융|카드|지주|신탁')]
    filtered_df.to_csv(f'코스닥_{filename}', index=False, encoding='utf-8-sig')

# Applying filter to each dataset and saving new CSVs
filter_and_save(kosdaq_beniesh_m_score, financial_symbols, '1beniesh_M-score.csv')
filter_and_save(kosdaq_growth, financial_symbols, '1성장성.csv')
filter_and_save(kosdaq_profitability, financial_symbols, '1수익성.csv')
filter_and_save(kosdaq_stability, financial_symbols, '1안정성.csv')
filter_and_save(kosdaq_cash_flow, financial_symbols, '1현금흐름.csv')
filter_and_save(kosdaq_activity, financial_symbols, '1활동성.csv')

# Confirming files saved
saved_files = [
    '코스닥_beniesh_M-score.csv',
    '코스닥_성장성.csv',
    '코스닥_수익성.csv',
    '코스닥_안정성.csv',
    '코스닥_현금흐름.csv',
    '코스닥_활동성.csv'
]
saved_files

In [ ]:
bb = pd.read_csv('코스닥_1수익성.csv')
bb.info()

In [ ]:
len(bb['Name'].unique())

#### 데이터프레임에서 모든 재무비율이 Nan인 경우 해당 년도는 상장하지 않은 년도로 판단

In [ ]:
columns_to_check = ['매출액증가율(전년동기)(%)', 
                    '총자본증가율(전년동기)(%)', 
                    '유형자산증가율(전년동기)(%)', 
                    '영업이익증가율(전년동기)(%)', 
                    '당기순이익증가율(전년동기)(%)']

condition = kospi_growth[columns_to_check].isna().all(axis=1)

result = kospi_growth.loc[condition]

In [ ]:
kospi_beniesh_m_score = pd.read_csv('금융업제외/코스피_beniesh_M-score.csv')

In [ ]:
# 금융업제외한 데이터 로드
kospi_beniesh_m_score = pd.read_csv('금융업제외/코스피_beniesh_M-score.csv')
kospi_growth = pd.read_csv('금융업제외/코스피_성장성.csv')
kospi_profitability = pd.read_csv('금융업제외/코스피_수익성.csv')
kospi_stability = pd.read_csv('금융업제외/코스피_안정성.csv')
kospi_cash_flow = pd.read_csv('금융업제외/코스피_현금흐름.csv')
kospi_activity = pd.read_csv('금융업제외/코스피_활동성.csv')

# Display the first few rows and columns names to understand their structure
output = {
    "Beniesh M-score Columns": kospi_beniesh_m_score.columns,
    "Growth Columns": kospi_growth.columns,
    "Profitability Columns": kospi_profitability.columns,
    "Stability Columns": kospi_stability.columns,
    "Cash Flow Columns": kospi_cash_flow.columns,
    "Activity Columns": kospi_activity.columns
}

output

In [ ]:
kosdaq_beniesh_m_score = pd.read_csv('금융업제외/코스닥_beniesh_M-score.csv')
kosdaq_growth = pd.read_csv('금융업제외/코스닥_성장성.csv')
kosdaq_profitability = pd.read_csv('금융업제외/코스닥_수익성.csv')
kosdaq_stability = pd.read_csv('금융업제외/코스닥_안정성.csv')
kosdaq_cash_flow = pd.read_csv('금융업제외/코스닥_현금흐름.csv')
kosdaq_activity = pd.read_csv('금융업제외/코스닥_활동성.csv')

# Display the first few rows and columns names to understand their structure
output1 = {
    "Beniesh M-score Columns": kosdaq_beniesh_m_score.columns,
    "Growth Columns": kosdaq_growth.columns,
    "Profitability Columns": kosdaq_profitability.columns,
    "Stability Columns": kosdaq_stability.columns,
    "Cash Flow Columns": kosdaq_cash_flow.columns,
    "Activity Columns": kosdaq_activity.columns
}

output1

In [ ]:
# Function to filter and save CSVs
def filter_and_save(df, filename):
    condition = ~df[df.columns[5:]].isna().all(axis = 1)
    filtered_df = df.loc[condition]
    filtered_df.to_csv(f'코스닥_{filename}', index=False, encoding='utf-8-sig')

# Applying filter to each dataset and saving new CSVs
filter_and_save(kosdaq_beniesh_m_score, '1beniesh_M-score.csv')
filter_and_save(kosdaq_growth, '1성장성.csv')
filter_and_save(kosdaq_profitability, '1수익성.csv')
filter_and_save(kosdaq_stability, '1안정성.csv')
filter_and_save(kosdaq_cash_flow, '1현금흐름.csv')
filter_and_save(kosdaq_activity, '1활동성.csv')

# Confirming files saved
saved_files = [
    '코스닥_beniesh_M-score.csv',
    '코스닥_성장성.csv',
    '코스닥_수익성.csv',
    '코스닥_안정성.csv',
    '코스닥_현금흐름.csv',
    '코스닥_활동성.csv'
]
saved_files

In [ ]:
cc = pd.read_csv('코스닥_1성장성.csv')
cc.info()

In [ ]:
len(cc['Name'].unique())

In [ ]:
# Function to filter and save CSVs
def filter_and_save(df, filename):
    condition = ~df[df.columns[5:]].isna().all(axis = 1)
    filtered_df = df.loc[condition]
    filtered_df.to_csv(f'코스피_{filename}', index=False, encoding='utf-8-sig')

# Applying filter to each dataset and saving new CSVs
filter_and_save(kospi_beniesh_m_score, '1beniesh_M-score.csv')
filter_and_save(kospi_growth, '1성장성.csv')
filter_and_save(kospi_profitability, '1수익성.csv')
filter_and_save(kospi_stability, '1안정성.csv')
filter_and_save(kospi_cash_flow, '1현금흐름.csv')
filter_and_save(kospi_activity, '1활동성.csv')


# Confirming files saved
saved_files = [
    '코스피_beniesh_M-score.csv',
    '코스피_성장성.csv',
    '코스피_수익성.csv',
    '코스피_안정성.csv',
    '코스피_현금흐름.csv',
    '코스피_활동성.csv'
]
saved_files

In [ ]:
len(dd['Name'].unique())

In [ ]:
kospi_growth.columns[5:]

In [ ]:
condition = ~kospi_growth[kospi_growth.columns[5:]].isna().all(axis = 1)

In [ ]:
12264 - 3158

In [ ]:
kospi_growth.loc[condition]

In [ ]:

kospi_growth.columns[5:]

condition = kospi_growth[columns_to_check].isna().all(axis=1)

result = kospi_growth.loc[condition]